{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger3.x接口文档",
    "description": "Chaoverse-Backend前后端接口文档",
    "contact": {
      "name": "梁健深",
      "email": "liangjianshen2010@gmail.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://comicomi.cloud:443",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "3DMapping控制器",
      "description": "Mapping Controller"
    },
    {
      "name": "Dify控制器",
      "description": "Dify Controller"
    },
    {
      "name": "GPT控制器",
      "description": "Gpt Controller"
    },
    {
      "name": "MBTI控制器",
      "description": "MBTI Controller"
    },
    {
      "name": "beast-user-controller",
      "description": "Beast User Controller"
    },
    {
      "name": "sse-rest",
      "description": "Sse Rest"
    },
    {
      "name": "tao-hua-wu-controller",
      "description": "Tao Hua Wu Controller"
    },
    {
      "name": "区块链控制器",
      "description": "Dig Ital Controller"
    },
    {
      "name": "地址控制器",
      "description": "Address Data Controller"
    },
    {
      "name": "机械屏控制器",
      "description": "Mechanical Controller"
    },
    {
      "name": "灵境数据读取控制器",
      "description": "Chao Data Controller"
    },
    {
      "name": "用户作品前端控制器",
      "description": "Art User Works Controller"
    },
    {
      "name": "用户控制器",
      "description": "User Controller"
    },
    {
      "name": "经纬度距离控制器",
      "description": "Spatial Controller"
    },
    {
      "name": "虚拟店铺控制器",
      "description": "Get Cere Shop Product Controller"
    },
    {
      "name": "音游前端控制器",
      "description": "Audio Tour Controller"
    }
  ],
  "paths": {
    "/address/insert": {
      "get": {
        "tags": [
          "地址控制器"
        ],
        "summary": "getBridge",
        "operationId": "getBridgeUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/userWorks/deleteMyArtwork": {
      "post": {
        "tags": [
          "用户作品前端控制器"
        ],
        "summary": "删除作品",
        "description": "删除作品",
        "operationId": "deleteMyArtworkUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/删除作品作品请求参数对象"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/userWorks/getMyArtworks": {
      "get": {
        "tags": [
          "用户作品前端控制器"
        ],
        "summary": "获取我的所有作品",
        "description": "获取我的所有作品",
        "operationId": "getMyArtworksUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«作品信息响应对象»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/userWorks/getTopLikedArtworks": {
      "get": {
        "tags": [
          "用户作品前端控制器"
        ],
        "summary": "查询全局点赞数量最多的20个作品",
        "description": "查询全局点赞数量最多的20个作品",
        "operationId": "getTopLikedArtworksUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«查询全局点赞数量最多的20个作品响应对象»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/userWorks/likeArtwork": {
      "post": {
        "tags": [
          "用户作品前端控制器"
        ],
        "summary": "点赞作品",
        "description": "点赞作品",
        "operationId": "likeArtworkUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/点赞作品请求参数对象"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/userWorks/submitMyArtwork": {
      "post": {
        "tags": [
          "用户作品前端控制器"
        ],
        "summary": "提交作品",
        "description": "提交作品",
        "operationId": "submitMyArtworkUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/保存作品请求参数封装类"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«作品信息响应对象»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/audioTour/getMusicGameRankList": {
      "get": {
        "tags": [
          "音游前端控制器"
        ],
        "summary": "获取队伍排行榜",
        "description": "获取队伍排行榜",
        "operationId": "getMusicGameRankListUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«队伍排行榜返回对象»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/audioTour/getMusicGameResultDetail": {
      "get": {
        "tags": [
          "音游前端控制器"
        ],
        "summary": "获取某一个队伍结果的详情",
        "description": "获取某一个队伍结果的详情",
        "operationId": "getMusicGameResultDetailUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamUUID",
            "in": "query",
            "description": "teamUUID",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«队伍结果的详情对象»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/audioTour/recordMusicGameResult": {
      "post": {
        "tags": [
          "音游前端控制器"
        ],
        "summary": "记录一局的游戏结果",
        "description": "记录一局的游戏结果",
        "operationId": "recordMusicGameResultUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/保存音游组队信息参数封装类"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«long»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beast/beastFancy": {
      "post": {
        "tags": [
          "beast-user-controller"
        ],
        "summary": "BeastFancy",
        "operationId": "BeastFancyUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeastUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Experience»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beast/getAllBeast": {
      "get": {
        "tags": [
          "beast-user-controller"
        ],
        "summary": "getAllBeast",
        "operationId": "getAllBeastUsingGET",
        "parameters": [
          {
            "name": "roleId",
            "in": "query",
            "description": "roleId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«Beast»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beast/getBeastByFancy": {
      "get": {
        "tags": [
          "beast-user-controller"
        ],
        "summary": "getBeastByFancy",
        "operationId": "getBeastByFancyUsingGET",
        "parameters": [
          {
            "name": "roleId",
            "in": "query",
            "description": "roleId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«Beast»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beast/getBeastById": {
      "get": {
        "tags": [
          "beast-user-controller"
        ],
        "summary": "getBeastById",
        "operationId": "getBeastByIdUsingGET",
        "parameters": [
          {
            "name": "roleId",
            "in": "query",
            "description": "roleId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Beast»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beast/getBeastByUser": {
      "get": {
        "tags": [
          "beast-user-controller"
        ],
        "summary": "getBeastList",
        "operationId": "getBeastListUsingGET",
        "parameters": [
          {
            "name": "roleId",
            "in": "query",
            "description": "roleId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "birthday",
            "in": "query",
            "description": "birthday",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Beast»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beast/getBeastMedal": {
      "get": {
        "tags": [
          "beast-user-controller"
        ],
        "summary": "getBeastMedal",
        "operationId": "getBeastMedalUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«int»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/beast/getLunbo": {
      "get": {
        "tags": [
          "beast-user-controller"
        ],
        "summary": "getLunBo",
        "operationId": "getLunBoUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«Picture»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/chao/data_get": {
      "get": {
        "tags": [
          "灵境数据读取控制器"
        ],
        "summary": "getData",
        "operationId": "getDataUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_key",
            "in": "query",
            "description": "data_key",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/chao/data_store": {
      "post": {
        "tags": [
          "灵境数据读取控制器"
        ],
        "summary": "DataStore",
        "operationId": "DataStoreUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChaoData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/dify": {
      "post": {
        "tags": [
          "Dify控制器"
        ],
        "summary": "getDify",
        "operationId": "getDifyUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIDify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/download": {
      "get": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "下载数字证书",
        "description": "下载数字证书",
        "operationId": "downloadUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/getDigital": {
      "get": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "获取竖版证书信息",
        "description": "获取竖版证书信息",
        "operationId": "getDigitalUsingGET",
        "parameters": [
          {
            "name": "scene",
            "in": "query",
            "description": "scene",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/getDigitalCertificate": {
      "get": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "获取我的数字证书",
        "description": "获取我的数字证书",
        "operationId": "getDigitalCertificateUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«DigitalCertificate»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/getNickName": {
      "get": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "获取用户名",
        "description": "获取用户名",
        "operationId": "getNickNameUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«h5»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/getUserAIPicture": {
      "get": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "获取我的所有潮艺资产",
        "description": "获取我的所有潮艺资产",
        "operationId": "getUserAIPictureUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/getUserDigital": {
      "get": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "获取我的链上数据",
        "description": "四个链上数据的获取",
        "operationId": "getUserDigitalUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Digital»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/getUserRadar": {
      "get": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "获取数字资产分布",
        "description": "获取数字资产分布",
        "operationId": "getUserRadarUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Radar»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/digital/saveDigital": {
      "post": {
        "tags": [
          "区块链控制器"
        ],
        "summary": "保存横板证书",
        "description": "保存横板证书",
        "operationId": "saveDigitalUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseVO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/getProductList": {
      "get": {
        "tags": [
          "虚拟店铺控制器"
        ],
        "summary": "getProductList",
        "operationId": "getProductListUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopId",
            "in": "query",
            "description": "shopId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«店铺商品对象»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/getShopProduct": {
      "get": {
        "tags": [
          "虚拟店铺控制器"
        ],
        "summary": "getShopProduct",
        "operationId": "getShopProductUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "productId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "skuId",
            "in": "query",
            "description": "skuId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "shopId",
            "in": "query",
            "description": "shopId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«店铺商品对象»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/getShopProductList": {
      "get": {
        "tags": [
          "虚拟店铺控制器"
        ],
        "summary": "getShopProductList",
        "operationId": "getShopProductListUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«店铺商品对象»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/gpt/ask": {
      "post": {
        "tags": [
          "GPT控制器"
        ],
        "summary": "askPost",
        "operationId": "askPostUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«GptData»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/gpt/ask_with_c": {
      "post": {
        "tags": [
          "GPT控制器"
        ],
        "summary": "askPost1",
        "operationId": "askPost1UsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«GptData»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/gpt/getSound": {
      "get": {
        "tags": [
          "GPT控制器"
        ],
        "summary": "getSound",
        "operationId": "getSoundUsingGET",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "key",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/gpt/soundAsk": {
      "post": {
        "tags": [
          "GPT控制器"
        ],
        "summary": "soundAsk",
        "operationId": "soundAskUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«GptData»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/gpt/trans_with_c": {
      "post": {
        "tags": [
          "GPT控制器"
        ],
        "summary": "soundPost1",
        "operationId": "soundPost1UsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«GptData»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/gpt/translate": {
      "post": {
        "tags": [
          "GPT控制器"
        ],
        "summary": "soundPost",
        "operationId": "soundPostUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«GptData»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping": {
      "get": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "sendMessage",
        "operationId": "sendMessageUsingGET",
        "parameters": [
          {
            "name": "Code",
            "in": "query",
            "description": "Code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "description": "message",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/bridge": {
      "post": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "getBridge",
        "operationId": "getBridgeUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bridge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«object»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/bridge6": {
      "post": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "getBridge6",
        "operationId": "getBridge6UsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bridge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Bridge»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/getOrderDate": {
      "get": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "获取预约时间段",
        "description": "预约时间段前端展示，该接口只是获取用户是否预约了其中的某一时间段，如果预约了，前端置灰色",
        "operationId": "getOrderDateUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/join": {
      "get": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "joinMapping",
        "operationId": "joinMappingUsingGET",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«boolean»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/open": {
      "get": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "openStart",
        "operationId": "openStartUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«boolean»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/orderDate": {
      "post": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "天桥预约接口",
        "description": "天桥预约接口",
        "operationId": "orderBridgeDateUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderDate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/sendAvatar": {
      "get": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "sendAvatar",
        "operationId": "sendAvatarUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mapping/sendMapping": {
      "get": {
        "tags": [
          "3DMapping控制器"
        ],
        "summary": "sendMapping",
        "operationId": "sendMappingUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "description": "content",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/confirmMBTI": {
      "post": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "confirmMBTI",
        "operationId": "confirmMBTIUsingPOST",
        "parameters": [
          {
            "name": "head",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "nickName",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getAIRank": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getAIRank",
        "operationId": "getAIRankUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«AIRank»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getConfig": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getConfig",
        "operationId": "getConfigUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«WoDiConfig»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getList": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getList",
        "operationId": "getListUsingGET",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "tag",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«XunFuDes»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getMBTI": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getMBTI",
        "operationId": "getMBTIUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«MBTIConfig»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getScene": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getScene",
        "operationId": "getSceneUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getTame": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getTame",
        "operationId": "getTameUsingGET",
        "parameters": [
          {
            "name": "tameId",
            "in": "query",
            "description": "tameId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«XunFuDes»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getTip": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getTip",
        "operationId": "getTipUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«XunFuDes»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/getXunFuRank": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "getXunFuRank",
        "operationId": "getXunFuRankUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«AIRank»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/login": {
      "get": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "login",
        "operationId": "loginUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«MBITRole»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/play": {
      "post": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "play",
        "operationId": "playUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MBTI_Play"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/register": {
      "post": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "register",
        "operationId": "registerUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MBITRole"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/start": {
      "post": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "start",
        "operationId": "startUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MBTI_Play"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mbti/xunfu": {
      "post": {
        "tags": [
          "MBTI控制器"
        ],
        "summary": "xunfu",
        "operationId": "xunfuUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MBTI_Play"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mechanical/getDeviceId": {
      "get": {
        "tags": [
          "机械屏控制器"
        ],
        "summary": "扫码成功推送接口",
        "description": "扫码成功推送接口",
        "operationId": "getDeviceIdUsingGET",
        "parameters": [
          {
            "name": "codeId",
            "in": "query",
            "description": "codeId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mechanical/sendBarrage": {
      "get": {
        "tags": [
          "机械屏控制器"
        ],
        "summary": "推送弹幕接口",
        "description": "推送弹幕接口",
        "operationId": "sendBarrageUsingGET",
        "parameters": [
          {
            "name": "codeId",
            "in": "query",
            "description": "codeId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/mechanical/sendToken": {
      "get": {
        "tags": [
          "机械屏控制器"
        ],
        "summary": "推送用户信息接口",
        "description": "推送用户信息接口",
        "operationId": "sendTokenUsingGET",
        "parameters": [
          {
            "name": "codeId",
            "in": "query",
            "description": "codeId",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/spatial/getRectangle": {
      "get": {
        "tags": [
          "经纬度距离控制器"
        ],
        "summary": "getSpatial",
        "operationId": "getSpatialUsingGET",
        "parameters": [
          {
            "name": "distance",
            "in": "query",
            "description": "distance",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "longitude",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "latitude",
            "required": false,
            "style": "form",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«Spatial»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sse/sendMessage": {
      "post": {
        "tags": [
          "sse-rest"
        ],
        "summary": "sendMessage",
        "operationId": "sendMessageUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/sse/sendMessage1": {
      "post": {
        "tags": [
          "sse-rest"
        ],
        "summary": "pushOne",
        "operationId": "pushOneUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/taohuawu/execAI": {
      "get": {
        "tags": [
          "tao-hua-wu-controller"
        ],
        "summary": "execAI",
        "operationId": "execAIUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sex",
            "in": "query",
            "description": "sex",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "imgKey",
            "in": "query",
            "description": "imgKey",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/taohuawu/execAINew": {
      "get": {
        "tags": [
          "tao-hua-wu-controller"
        ],
        "summary": "execAINew",
        "operationId": "execAINewUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sex",
            "in": "query",
            "description": "sex",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "imgKey",
            "in": "query",
            "description": "imgKey",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/taohuawu/faceMerge": {
      "get": {
        "tags": [
          "tao-hua-wu-controller"
        ],
        "summary": "faceMerge",
        "operationId": "faceMergeUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imgKey",
            "in": "query",
            "description": "imgKey",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sex",
            "in": "query",
            "description": "sex",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«FaceAI»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/taohuawu/faceMergeNew": {
      "get": {
        "tags": [
          "tao-hua-wu-controller"
        ],
        "summary": "faceMergeNew",
        "operationId": "faceMergeNewUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "userId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imgKey",
            "in": "query",
            "description": "imgKey",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sex",
            "in": "query",
            "description": "sex",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«FaceAI»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/taohuawu/getRank": {
      "get": {
        "tags": [
          "tao-hua-wu-controller"
        ],
        "summary": "getRank",
        "operationId": "getRankUsingGET",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/taohuawu/upload": {
      "post": {
        "tags": [
          "tao-hua-wu-controller"
        ],
        "summary": "UpLoadImg",
        "operationId": "UpLoadImgUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaoHuaWu"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/taohuawu/uploadImg": {
      "post": {
        "tags": [
          "tao-hua-wu-controller"
        ],
        "summary": "uploadImg",
        "operationId": "uploadImgUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaoHuaWu"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/addCoupon": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "addCoupon",
        "operationId": "addCouponUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«boolean»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/addExperience": {
      "post": {
        "tags": [
          "用户控制器"
        ],
        "summary": "addExperience",
        "operationId": "addExperienceUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/addTask": {
      "post": {
        "tags": [
          "用户控制器"
        ],
        "summary": "addTask",
        "operationId": "addTaskUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleTask"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/countApplet": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "countApplet",
        "operationId": "countAppletUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/countGame": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "countGame",
        "operationId": "countGameUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/countOffline": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "countOffline",
        "operationId": "countOfflineUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/faceMerge": {
      "post": {
        "tags": [
          "用户控制器"
        ],
        "summary": "faceMerge",
        "operationId": "faceMergeUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Image»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getChaoDaily": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getChaoDaily",
        "operationId": "getChaoDailyUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«int»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getChaoValue": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getChaoValue",
        "operationId": "getChaoValueUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«PersonData»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getDeviceId": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getDeviceId",
        "operationId": "getDeviceIdUsingGET_1",
        "parameters": [
          {
            "name": "deviceId2",
            "in": "query",
            "description": "deviceId2",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getDeviceIdNew": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getDeviceIdNew",
        "operationId": "getDeviceIdNewUsingGET",
        "parameters": [
          {
            "name": "deviceId2",
            "in": "query",
            "description": "deviceId2",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«string»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getExperience": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getExperience",
        "operationId": "getExperienceUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«int»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getGameCount": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getGameCount",
        "operationId": "getGameCountUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«List«GameCount»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getImageUrl": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getImageUrl",
        "operationId": "getImageUrlUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«Image»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getLevelConfig": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getLevelConfig",
        "operationId": "getLevelConfigUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«ChaoConfig»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/getOwner": {
      "get": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getRole",
        "operationId": "getRoleUsingGET",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«RoleString»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getRole",
        "operationId": "getRoleUsingPUT",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«RoleString»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getRole",
        "operationId": "getRoleUsingPOST",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«RoleString»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getRole",
        "operationId": "getRoleUsingDELETE",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
            "description": "telephone",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultData«RoleString»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "options": {
        "tags": [
          "用户控制器"
        ],
        "summary": "getRole",
        "operationId": "getRoleUsingOPTIONS",
        "parameters": [
          {
            "name": "telephone",
            "in": "query",
[...]
